@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/IRANSansWeb_Black.eot?465387eeda5050a622ba869f13e53119);
    src: url(../fonts/IRANSansWeb_Black.eot?465387eeda5050a622ba869f13e53119) format("embedded-opentype"),
    url(../fonts/IRANSansWeb_Black.woff2?63911f38b2d0bb0650d18555d793dad3) format("woff2"),
    url(../fonts/IRANSansWeb_Black.woff?818f7796aeb3cc761b74334bb0b9aa35) format("woff"),
    url(../fonts/IRANSansWeb_Black.ttf?7174439308f3d61c0c1f67fd3e052c78) format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/IRANSansWeb_Bold.eot?a65cbf91ec2b253357f7621900ef29a4);
    src: url(../fonts/IRANSansWeb_Bold.eot?a65cbf91ec2b253357f7621900ef29a4) format("embedded-opentype"),
    url(../fonts/IRANSansWeb_Bold.woff2?2f6f164c3e1f1329cc658b3c725bfd98) format("woff2"),
    url(../fonts/IRANSansWeb_Bold.woff?d44408d0941f077f60b1306e1331e806) format("woff"),
    url(../fonts/IRANSansWeb_Bold.ttf?9471804b0f92127716fabbbb2c6647e5) format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/IRANSansWeb.eot?70a5f97c18c45e8ef620a374be61c6c3);
    src: url(../fonts/IRANSansWeb.eot?70a5f97c18c45e8ef620a374be61c6c3) format("embedded-opentype"),
    url(../fonts/IRANSansWeb.woff2?9d38733b8a7b9153f2bf9bfe476ef8e3) format("woff2"),
    url(../fonts/IRANSansWeb.woff?50f4bba2f37081daeca8c423abdced8b) format("woff"),
    url(../fonts/IRANSansWeb.ttf?244a401eb43afb0fe739f8dcd8530ae4) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: IRANSans !important;
}