
#aa-list {
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #fff;
    border: 1px solid #555;
    float: left;
    width: 250px;
    z-index: 1000;
}

.aa-item {
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%;
    cursor: pointer;
    
}
.aa-item:hover {
    background-color: antiquewhite;
}

.aa-item small {
    width: 100%;
    color: #999;
    clear: both;
    float: left;
}